.DS_Store
*.swp
*.pbxuser
*.perspectivev3
*.mode1v3
build
DerivedData
*.framework
Pods
Podfile.lock
*.xcuserstate
*.xcbkptlist
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserstate
*.xcbkptlist
*.xccheckout
